{
	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
	"useTabs": true,
	"tabWidth": 4,
	"semi": false,
	"printWidth": 120,
	"arrowParens": "avoid",
	"importOrder": ["^~/.+$", "^\\.*/.+$"],
	"importOrderSeparation": true,
	"tailwindStylesheet": "./src/assets/styles.css"
}
